-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: ppc_dev
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1200000$cyLKZ0XhPWEciFZRACcqqM$FnueIqiaB/YUyaMcnvpFt1xCs0GvQg4qR1Tcd2ch8IA=','2026-08-19 17:32:36.608024',1,'programador','','','programador@gmail.com',1,1,'2026-08-02 05:23:39.417076'),(2,'pbkdf2_sha256$1200000$jsv85lqFDoo35iiUQclBnB$nU/KYNpAl49VOETksRpI+RZa3GmJPweUmPDzEdsO2nY=',NULL,0,'rodriga','','','',0,1,'2026-08-06 00:13:16.431211');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(2,'auth','group'),(3,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(7,'ppc','apendice'),(8,'ppc','bibliografia'),(9,'ppc','componentecurricular'),(10,'ppc','curso'),(11,'ppc','dinamicaead'),(14,'ppc','historicalapendice'),(15,'ppc','historicalcomponentecurricular'),(16,'ppc','historicalcurso'),(17,'ppc','historicaldinamicaead'),(18,'ppc','historicalppc'),(19,'ppc','historicalrelacaocomponente'),(20,'ppc','membronde'),(12,'ppc','ppc'),(13,'ppc','relacaocomponente'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('6yw32l3sw9nsaxyrltimvdx1krsi7fmy','.eJxVjMsOgyAQRf-FdWNAMYLL7vsNZGYY1D6gAVwZ_72adNFu7zn3bMLBWme3Fs5u8WIUSlx-NwR6cDyBv0OcUkMp1rxgcyrNl5bmljw_r1_3LzBDmY-3VVr2WiF0yIbRIknZdqSM0RJ9i1oGJAiDDiwhsJFkO83Bcueh1_1wRDMUWuOc3PJ6p1yBIDmIdZnAWTFu-_4BTgVFfQ:1wxGQq:WAQLdG9GKvvoPmHfvWNpfO1oO6OV6G9wE9ulllX9dpQ','2026-09-04 04:00:40.951119');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_apendice`
--

DROP TABLE IF EXISTS `ppc_apendice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_apendice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo` varchar(30) NOT NULL,
  `titulo` varchar(200) NOT NULL,
  `descricao` longtext NOT NULL,
  `arquivo` varchar(100) NOT NULL,
  `ppc_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ppc_apendice_ppc_id_092e2b3a_fk_ppc_ppc_id` (`ppc_id`),
  CONSTRAINT `ppc_apendice_ppc_id_092e2b3a_fk_ppc_ppc_id` FOREIGN KEY (`ppc_id`) REFERENCES `ppc_ppc` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_apendice`
--

LOCK TABLES `ppc_apendice` WRITE;
/*!40000 ALTER TABLE `ppc_apendice` DISABLE KEYS */;
INSERT INTO `ppc_apendice` VALUES (1,'corpo_docente','first','sim','apendices/RGCG_Resolucao_Consepec_7fa008ad3f.pdf',1);
/*!40000 ALTER TABLE `ppc_apendice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_bibliografia`
--

DROP TABLE IF EXISTS `ppc_bibliografia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_bibliografia` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo` varchar(15) NOT NULL,
  `titulo` varchar(300) NOT NULL,
  `autores` varchar(300) NOT NULL,
  `editora` varchar(150) NOT NULL,
  `cidade` varchar(100) NOT NULL,
  `ano` int unsigned DEFAULT NULL,
  `componente_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ppc_bibliografia_componente_id_f46c9502_fk_ppc_compo` (`componente_id`),
  CONSTRAINT `ppc_bibliografia_componente_id_f46c9502_fk_ppc_compo` FOREIGN KEY (`componente_id`) REFERENCES `ppc_componentecurricular` (`id`),
  CONSTRAINT `ppc_bibliografia_chk_1` CHECK ((`ano` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_bibliografia`
--

LOCK TABLES `ppc_bibliografia` WRITE;
/*!40000 ALTER TABLE `ppc_bibliografia` DISABLE KEYS */;
INSERT INTO `ppc_bibliografia` VALUES (2,'basica','sas','asz','adsad','sas',8212,3);
/*!40000 ALTER TABLE `ppc_bibliografia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_componentecurricular`
--

DROP TABLE IF EXISTS `ppc_componentecurricular`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_componentecurricular` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(200) NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `natureza` varchar(20) NOT NULL,
  `nucleo` varchar(4) NOT NULL,
  `periodo` smallint unsigned NOT NULL,
  `carga_horaria_teorica` int unsigned NOT NULL,
  `carga_horaria_pratica` int unsigned NOT NULL,
  `carga_horaria_pcc` int unsigned NOT NULL,
  `unidade_academica_componente` varchar(200) NOT NULL,
  `ementa` longtext NOT NULL,
  `ppc_id` bigint NOT NULL,
  `carga_horaria_acex` int unsigned DEFAULT NULL,
  `carga_horaria_estudante` int unsigned DEFAULT NULL,
  `carga_horaria_professor` int unsigned DEFAULT NULL,
  `codigo` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ppc_componentecurricular_ppc_id_c0dd8121_fk_ppc_ppc_id` (`ppc_id`),
  CONSTRAINT `ppc_componentecurricular_ppc_id_c0dd8121_fk_ppc_ppc_id` FOREIGN KEY (`ppc_id`) REFERENCES `ppc_ppc` (`id`),
  CONSTRAINT `ppc_componentecurricular_chk_1` CHECK ((`periodo` >= 0)),
  CONSTRAINT `ppc_componentecurricular_chk_2` CHECK ((`carga_horaria_teorica` >= 0)),
  CONSTRAINT `ppc_componentecurricular_chk_3` CHECK ((`carga_horaria_pratica` >= 0)),
  CONSTRAINT `ppc_componentecurricular_chk_4` CHECK ((`carga_horaria_pcc` >= 0)),
  CONSTRAINT `ppc_componentecurricular_chk_5` CHECK ((`carga_horaria_acex` >= 0)),
  CONSTRAINT `ppc_componentecurricular_chk_6` CHECK ((`carga_horaria_estudante` >= 0)),
  CONSTRAINT `ppc_componentecurricular_chk_7` CHECK ((`carga_horaria_professor` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_componentecurricular`
--

LOCK TABLES `ppc_componentecurricular` WRITE;
/*!40000 ALTER TABLE `ppc_componentecurricular` DISABLE KEYS */;
INSERT INTO `ppc_componentecurricular` VALUES (1,'base de','atividade','obrigatoria','NE',2,72,21,45,'rua','sa nkasnalmdnskas',1,NULL,NULL,NULL,''),(2,'Gabriel Rodrigues Alves','modulo','obrigatoria','NC',3,5,7,7,'asa','sasads',1,NULL,NULL,NULL,''),(3,'dinhieiro 3','disciplina','obrigatoria','NE',2,20,24,0,'rua','jshgavhkjjbsnbannksjbhajjuska',3,NULL,NULL,NULL,''),(4,'Gabriel Rodrigues Alves','disciplina','obrigatoria','NE',1,22,22,22,'rua','dsdzadsdas',3,NULL,NULL,NULL,'');
/*!40000 ALTER TABLE `ppc_componentecurricular` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_curso`
--

DROP TABLE IF EXISTS `ppc_curso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_curso` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(200) NOT NULL,
  `unidade_academica` varchar(200) NOT NULL,
  `area_conhecimento` varchar(200) NOT NULL,
  `carga_horaria_maxima` int unsigned DEFAULT NULL,
  `carga_horaria_minima` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `ppc_curso_chk_1` CHECK ((`carga_horaria_maxima` >= 0)),
  CONSTRAINT `ppc_curso_chk_2` CHECK ((`carga_horaria_minima` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_curso`
--

LOCK TABLES `ppc_curso` WRITE;
/*!40000 ALTER TABLE `ppc_curso` DISABLE KEYS */;
INSERT INTO `ppc_curso` VALUES (1,'esmola','rua','nenhuma',NULL,NULL),(2,'saa','adsds','sasad',NULL,NULL),(3,'base de','rua','nenhuma',NULL,NULL),(4,'tt','sas','aasa',3223,442);
/*!40000 ALTER TABLE `ppc_curso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_dinamicaead`
--

DROP TABLE IF EXISTS `ppc_dinamicaead`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_dinamicaead` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `dinamica_atividades_presenciais_distancia` longtext NOT NULL,
  `recuperacao_estudos_permanencia` longtext NOT NULL,
  `componente_informatica_basica` longtext NOT NULL,
  `atuacao_tutoria` longtext NOT NULL,
  `atribuicoes_profissionais` longtext NOT NULL,
  `material_didatico` longtext NOT NULL,
  `ferramentas_comunicacao` longtext NOT NULL,
  `carga_horaria_presencial_acompanhamento` longtext NOT NULL,
  `armazenamento_gerenciamento_dados` longtext NOT NULL,
  `ppc_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ppc_id` (`ppc_id`),
  CONSTRAINT `ppc_dinamicaead_ppc_id_3d68f8ef_fk_ppc_ppc_id` FOREIGN KEY (`ppc_id`) REFERENCES `ppc_ppc` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_dinamicaead`
--

LOCK TABLES `ppc_dinamicaead` WRITE;
/*!40000 ALTER TABLE `ppc_dinamicaead` DISABLE KEYS */;
INSERT INTO `ppc_dinamicaead` VALUES (1,'asasasd','asdsda','sadsas','adssa','adas','ass','adsas','adssa','dass',1),(2,'','','','','','','','','',3),(3,'','','','','','','','','',5);
/*!40000 ALTER TABLE `ppc_dinamicaead` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_historicalapendice`
--

DROP TABLE IF EXISTS `ppc_historicalapendice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_historicalapendice` (
  `id` bigint NOT NULL,
  `tipo` varchar(30) NOT NULL,
  `titulo` varchar(200) NOT NULL,
  `descricao` longtext NOT NULL,
  `arquivo` longtext NOT NULL,
  `history_id` int NOT NULL AUTO_INCREMENT,
  `history_date` datetime(6) NOT NULL,
  `history_change_reason` varchar(100) DEFAULT NULL,
  `history_type` varchar(1) NOT NULL,
  `history_user_id` int DEFAULT NULL,
  `ppc_id` bigint DEFAULT NULL,
  PRIMARY KEY (`history_id`),
  KEY `ppc_historicalapendice_history_user_id_a924e33a_fk_auth_user_id` (`history_user_id`),
  KEY `ppc_historicalapendice_id_2b98d5ee` (`id`),
  KEY `ppc_historicalapendice_history_date_26ecdcfc` (`history_date`),
  KEY `ppc_historicalapendice_ppc_id_59fcdef7` (`ppc_id`),
  CONSTRAINT `ppc_historicalapendice_history_user_id_a924e33a_fk_auth_user_id` FOREIGN KEY (`history_user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_historicalapendice`
--

LOCK TABLES `ppc_historicalapendice` WRITE;
/*!40000 ALTER TABLE `ppc_historicalapendice` DISABLE KEYS */;
INSERT INTO `ppc_historicalapendice` VALUES (2,'corpo_docente','adsa','<p>saas</p>','apendices/Frequencia_ECNO_assinado.pdf',1,'2026-08-04 03:39:46.908179',NULL,'+',1,3),(2,'corpo_docente','adsa','<p>saas</p>','apendices/Frequencia_ECNO_assinado.pdf',2,'2026-08-04 23:38:07.385034',NULL,'-',1,3);
/*!40000 ALTER TABLE `ppc_historicalapendice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_historicalcomponentecurricular`
--

DROP TABLE IF EXISTS `ppc_historicalcomponentecurricular`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_historicalcomponentecurricular` (
  `id` bigint NOT NULL,
  `nome` varchar(200) NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `natureza` varchar(20) NOT NULL,
  `nucleo` varchar(4) NOT NULL,
  `periodo` smallint unsigned NOT NULL,
  `carga_horaria_teorica` int unsigned NOT NULL,
  `carga_horaria_pratica` int unsigned NOT NULL,
  `carga_horaria_pcc` int unsigned NOT NULL,
  `unidade_academica_componente` varchar(200) NOT NULL,
  `ementa` longtext NOT NULL,
  `history_id` int NOT NULL AUTO_INCREMENT,
  `history_date` datetime(6) NOT NULL,
  `history_change_reason` varchar(100) DEFAULT NULL,
  `history_type` varchar(1) NOT NULL,
  `history_user_id` int DEFAULT NULL,
  `ppc_id` bigint DEFAULT NULL,
  `carga_horaria_acex` int unsigned DEFAULT NULL,
  `carga_horaria_estudante` int unsigned DEFAULT NULL,
  `carga_horaria_professor` int unsigned DEFAULT NULL,
  `codigo` varchar(20) NOT NULL,
  PRIMARY KEY (`history_id`),
  KEY `ppc_historicalcompon_history_user_id_02a8d02a_fk_auth_user` (`history_user_id`),
  KEY `ppc_historicalcomponentecurricular_id_d8e5d656` (`id`),
  KEY `ppc_historicalcomponentecurricular_history_date_a523519e` (`history_date`),
  KEY `ppc_historicalcomponentecurricular_ppc_id_0f95a823` (`ppc_id`),
  CONSTRAINT `ppc_historicalcompon_history_user_id_02a8d02a_fk_auth_user` FOREIGN KEY (`history_user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `ppc_historicalcomponentecurricular_chk_1` CHECK ((`periodo` >= 0)),
  CONSTRAINT `ppc_historicalcomponentecurricular_chk_2` CHECK ((`carga_horaria_teorica` >= 0)),
  CONSTRAINT `ppc_historicalcomponentecurricular_chk_3` CHECK ((`carga_horaria_pratica` >= 0)),
  CONSTRAINT `ppc_historicalcomponentecurricular_chk_4` CHECK ((`carga_horaria_pcc` >= 0)),
  CONSTRAINT `ppc_historicalcomponentecurricular_chk_5` CHECK ((`carga_horaria_acex` >= 0)),
  CONSTRAINT `ppc_historicalcomponentecurricular_chk_6` CHECK ((`carga_horaria_estudante` >= 0)),
  CONSTRAINT `ppc_historicalcomponentecurricular_chk_7` CHECK ((`carga_horaria_professor` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_historicalcomponentecurricular`
--

LOCK TABLES `ppc_historicalcomponentecurricular` WRITE;
/*!40000 ALTER TABLE `ppc_historicalcomponentecurricular` DISABLE KEYS */;
INSERT INTO `ppc_historicalcomponentecurricular` VALUES (3,'dinhieiro 3','disciplina','obrigatoria','NE',2,20,24,0,'rua','jshgavhkjjbsnbannksjbhajjuska',1,'2026-08-04 04:19:27.654411',NULL,'+',1,3,NULL,NULL,NULL,''),(3,'dinhieiro 3','disciplina','obrigatoria','NE',2,20,24,0,'rua','jshgavhkjjbsnbannksjbhajjuska',2,'2026-08-04 04:23:11.242321',NULL,'~',1,3,NULL,NULL,NULL,''),(4,'Gabriel Rodrigues Alves','disciplina','obrigatoria','NE',1,22,22,22,'rua','dsdzadsdas',3,'2026-08-04 04:49:29.148803',NULL,'+',1,3,NULL,NULL,NULL,'');
/*!40000 ALTER TABLE `ppc_historicalcomponentecurricular` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_historicalcurso`
--

DROP TABLE IF EXISTS `ppc_historicalcurso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_historicalcurso` (
  `id` bigint NOT NULL,
  `nome` varchar(200) NOT NULL,
  `unidade_academica` varchar(200) NOT NULL,
  `area_conhecimento` varchar(200) NOT NULL,
  `history_id` int NOT NULL AUTO_INCREMENT,
  `history_date` datetime(6) NOT NULL,
  `history_change_reason` varchar(100) DEFAULT NULL,
  `history_type` varchar(1) NOT NULL,
  `history_user_id` int DEFAULT NULL,
  `carga_horaria_maxima` int unsigned DEFAULT NULL,
  `carga_horaria_minima` int unsigned DEFAULT NULL,
  PRIMARY KEY (`history_id`),
  KEY `ppc_historicalcurso_history_user_id_e9a16181_fk_auth_user_id` (`history_user_id`),
  KEY `ppc_historicalcurso_id_f5e4db15` (`id`),
  KEY `ppc_historicalcurso_history_date_8b21d1e3` (`history_date`),
  CONSTRAINT `ppc_historicalcurso_history_user_id_e9a16181_fk_auth_user_id` FOREIGN KEY (`history_user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `ppc_historicalcurso_chk_1` CHECK ((`carga_horaria_maxima` >= 0)),
  CONSTRAINT `ppc_historicalcurso_chk_2` CHECK ((`carga_horaria_minima` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_historicalcurso`
--

LOCK TABLES `ppc_historicalcurso` WRITE;
/*!40000 ALTER TABLE `ppc_historicalcurso` DISABLE KEYS */;
INSERT INTO `ppc_historicalcurso` VALUES (2,'saa','adsds','sasad',1,'2026-08-03 17:15:05.869479',NULL,'+',1,NULL,NULL),(3,'base de','rua','nenhuma',2,'2026-08-05 20:24:34.690552',NULL,'+',1,NULL,NULL),(4,'tt','sas','aasa',3,'2026-08-21 04:47:54.270348',NULL,'+',1,3223,442);
/*!40000 ALTER TABLE `ppc_historicalcurso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_historicaldinamicaead`
--

DROP TABLE IF EXISTS `ppc_historicaldinamicaead`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_historicaldinamicaead` (
  `id` bigint NOT NULL,
  `dinamica_atividades_presenciais_distancia` longtext NOT NULL,
  `recuperacao_estudos_permanencia` longtext NOT NULL,
  `componente_informatica_basica` longtext NOT NULL,
  `atuacao_tutoria` longtext NOT NULL,
  `atribuicoes_profissionais` longtext NOT NULL,
  `material_didatico` longtext NOT NULL,
  `ferramentas_comunicacao` longtext NOT NULL,
  `carga_horaria_presencial_acompanhamento` longtext NOT NULL,
  `armazenamento_gerenciamento_dados` longtext NOT NULL,
  `history_id` int NOT NULL AUTO_INCREMENT,
  `history_date` datetime(6) NOT NULL,
  `history_change_reason` varchar(100) DEFAULT NULL,
  `history_type` varchar(1) NOT NULL,
  `history_user_id` int DEFAULT NULL,
  `ppc_id` bigint DEFAULT NULL,
  PRIMARY KEY (`history_id`),
  KEY `ppc_historicaldinami_history_user_id_3fbbbb32_fk_auth_user` (`history_user_id`),
  KEY `ppc_historicaldinamicaead_id_b7680a98` (`id`),
  KEY `ppc_historicaldinamicaead_history_date_4815e041` (`history_date`),
  KEY `ppc_historicaldinamicaead_ppc_id_3c197d97` (`ppc_id`),
  CONSTRAINT `ppc_historicaldinami_history_user_id_3fbbbb32_fk_auth_user` FOREIGN KEY (`history_user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_historicaldinamicaead`
--

LOCK TABLES `ppc_historicaldinamicaead` WRITE;
/*!40000 ALTER TABLE `ppc_historicaldinamicaead` DISABLE KEYS */;
INSERT INTO `ppc_historicaldinamicaead` VALUES (2,'','','','','','','','','',1,'2026-08-04 03:37:03.682940',NULL,'+',1,3),(3,'','','','','','','','','',2,'2026-08-06 01:11:32.666166',NULL,'+',1,5);
/*!40000 ALTER TABLE `ppc_historicaldinamicaead` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_historicalppc`
--

DROP TABLE IF EXISTS `ppc_historicalppc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_historicalppc` (
  `id` bigint NOT NULL,
  `modalidade` varchar(20) NOT NULL,
  `grau_academico` varchar(20) NOT NULL,
  `turno_funcionamento` varchar(50) NOT NULL,
  `carga_horaria_total` int unsigned NOT NULL,
  `numero_vagas_anuais` int unsigned NOT NULL,
  `duracao_minima_semestres` int unsigned NOT NULL,
  `duracao_media_semestres` int unsigned NOT NULL,
  `duracao_maxima_semestres` int unsigned NOT NULL,
  `diretor` varchar(200) NOT NULL,
  `vice_diretor` varchar(200) NOT NULL,
  `coordenador_curso` varchar(200) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  `atualizado_em` datetime(6) NOT NULL,
  `status` varchar(20) NOT NULL,
  `publico_alvo_ead` longtext NOT NULL,
  `ato_integracao_uab` longtext NOT NULL,
  `ato_credenciamento_mec` longtext NOT NULL,
  `polos_ead` longtext NOT NULL,
  `apresentacao_texto` longtext NOT NULL,
  `tipo_ppc` varchar(20) NOT NULL,
  `exposicao_motivos` longtext NOT NULL,
  `objetivo_geral` longtext NOT NULL,
  `objetivo_especifico` longtext NOT NULL,
  `principios_geral` longtext NOT NULL,
  `principios_pratica_profissional` longtext NOT NULL,
  `principios_formacao_tecnica` longtext NOT NULL,
  `principios_formacao_etica_social` longtext NOT NULL,
  `principios_interdisciplinaridade` longtext NOT NULL,
  `principios_articulacao_teoria_pratica` longtext NOT NULL,
  `perfil_curso` longtext NOT NULL,
  `perfil_habilidades` longtext NOT NULL,
  `tcc` longtext NOT NULL,
  `estagio` longtext NOT NULL,
  `atividades_complementares` longtext NOT NULL,
  `politicas_integrada` longtext NOT NULL,
  `avaliacao_ensino_aprendizagem` longtext NOT NULL,
  `avaliacao_projeto_curso` longtext NOT NULL,
  `qualificacao` longtext NOT NULL,
  `diretrizes_curriculares_nacionais_curso` longtext NOT NULL,
  `diretrizes_curriculares_nacionais_educacao_basica` longtext NOT NULL,
  `diretrizes_etnico_raciais_historia_cultura_afro_indigena` longtext NOT NULL,
  `diretrizes_educacao_direitos_humanos` longtext NOT NULL,
  `protecao_direitos_pessoa_transtorno_espectro_autista` longtext NOT NULL,
  `componente_curricular_libras` longtext NOT NULL,
  `politicas_educacao_ambiental` longtext NOT NULL,
  `diretrizes_formacao_professores_educacao_basica` longtext NOT NULL,
  `condicoes_acesso_pessoas_deficiencia_mobilidade_reduzida` longtext NOT NULL,
  `bibliografias_ppc` longtext NOT NULL,
  `estrutura_curricular_descricao` longtext NOT NULL,
  `estrutura_curricular_informacoes_complementares` longtext NOT NULL,
  `history_id` int NOT NULL AUTO_INCREMENT,
  `history_date` datetime(6) NOT NULL,
  `history_change_reason` varchar(100) DEFAULT NULL,
  `history_type` varchar(1) NOT NULL,
  `curso_id` bigint DEFAULT NULL,
  `history_user_id` int DEFAULT NULL,
  `numero_resolucao` varchar(100) NOT NULL,
  PRIMARY KEY (`history_id`),
  KEY `ppc_historicalppc_history_user_id_ba58b945_fk_auth_user_id` (`history_user_id`),
  KEY `ppc_historicalppc_id_d46450b4` (`id`),
  KEY `ppc_historicalppc_history_date_ff62f965` (`history_date`),
  KEY `ppc_historicalppc_curso_id_66f15669` (`curso_id`),
  CONSTRAINT `ppc_historicalppc_history_user_id_ba58b945_fk_auth_user_id` FOREIGN KEY (`history_user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `ppc_historicalppc_chk_1` CHECK ((`carga_horaria_total` >= 0)),
  CONSTRAINT `ppc_historicalppc_chk_2` CHECK ((`numero_vagas_anuais` >= 0)),
  CONSTRAINT `ppc_historicalppc_chk_3` CHECK ((`duracao_minima_semestres` >= 0)),
  CONSTRAINT `ppc_historicalppc_chk_4` CHECK ((`duracao_media_semestres` >= 0)),
  CONSTRAINT `ppc_historicalppc_chk_5` CHECK ((`duracao_maxima_semestres` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_historicalppc`
--

LOCK TABLES `ppc_historicalppc` WRITE;
/*!40000 ALTER TABLE `ppc_historicalppc` DISABLE KEYS */;
/*!40000 ALTER TABLE `ppc_historicalppc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_historicalrelacaocomponente`
--

DROP TABLE IF EXISTS `ppc_historicalrelacaocomponente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_historicalrelacaocomponente` (
  `id` bigint NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `history_id` int NOT NULL AUTO_INCREMENT,
  `history_date` datetime(6) NOT NULL,
  `history_change_reason` varchar(100) DEFAULT NULL,
  `history_type` varchar(1) NOT NULL,
  `componente_id` bigint DEFAULT NULL,
  `componente_relacionado_id` bigint DEFAULT NULL,
  `history_user_id` int DEFAULT NULL,
  PRIMARY KEY (`history_id`),
  KEY `ppc_historicalrelaca_history_user_id_41414a94_fk_auth_user` (`history_user_id`),
  KEY `ppc_historicalrelacaocomponente_id_d9b0baf8` (`id`),
  KEY `ppc_historicalrelacaocomponente_history_date_020ac233` (`history_date`),
  KEY `ppc_historicalrelacaocomponente_componente_id_85cb59a6` (`componente_id`),
  KEY `ppc_historicalrelacaocompon_componente_relacionado_id_bd30fa19` (`componente_relacionado_id`),
  CONSTRAINT `ppc_historicalrelaca_history_user_id_41414a94_fk_auth_user` FOREIGN KEY (`history_user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_historicalrelacaocomponente`
--

LOCK TABLES `ppc_historicalrelacaocomponente` WRITE;
/*!40000 ALTER TABLE `ppc_historicalrelacaocomponente` DISABLE KEYS */;
INSERT INTO `ppc_historicalrelacaocomponente` VALUES (2,'pre_requisito',1,'2026-08-04 04:50:10.335003',NULL,'+',3,4,1),(2,'equivalente',2,'2026-08-04 04:50:25.043723',NULL,'~',3,4,1),(2,'equivalente',3,'2026-08-04 04:50:34.335939',NULL,'-',3,4,1);
/*!40000 ALTER TABLE `ppc_historicalrelacaocomponente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_membronde`
--

DROP TABLE IF EXISTS `ppc_membronde`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_membronde` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(200) NOT NULL,
  `titulacao` varchar(20) NOT NULL,
  `regime_trabalho` varchar(10) NOT NULL,
  `funcao` varchar(20) NOT NULL,
  `portaria_designacao` varchar(200) NOT NULL,
  `data_inicio` date NOT NULL,
  `data_fim` date DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL,
  `curso_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ppc_membronde_curso_id_c685f0b7_fk_ppc_curso_id` (`curso_id`),
  CONSTRAINT `ppc_membronde_curso_id_c685f0b7_fk_ppc_curso_id` FOREIGN KEY (`curso_id`) REFERENCES `ppc_curso` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_membronde`
--

LOCK TABLES `ppc_membronde` WRITE;
/*!40000 ALTER TABLE `ppc_membronde` DISABLE KEYS */;
INSERT INTO `ppc_membronde` VALUES (1,'Gabriel Rodrigues Alves','mestre','de','presidente','211233331','2026-08-25','2026-08-18',1,1),(2,'Gabriel Rodrigues Alves','doutor','40h','presidente','323','2026-08-11','2026-08-19',1,3);
/*!40000 ALTER TABLE `ppc_membronde` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_ppc`
--

DROP TABLE IF EXISTS `ppc_ppc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_ppc` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `modalidade` varchar(20) NOT NULL,
  `grau_academico` varchar(20) NOT NULL,
  `turno_funcionamento` varchar(50) NOT NULL,
  `carga_horaria_total` int unsigned NOT NULL,
  `numero_vagas_anuais` int unsigned NOT NULL,
  `duracao_minima_semestres` int unsigned NOT NULL,
  `duracao_media_semestres` int unsigned NOT NULL,
  `duracao_maxima_semestres` int unsigned NOT NULL,
  `diretor` varchar(200) NOT NULL,
  `vice_diretor` varchar(200) NOT NULL,
  `coordenador_curso` varchar(200) NOT NULL,
  `publico_alvo_ead` longtext NOT NULL,
  `ato_integracao_uab` longtext NOT NULL,
  `ato_credenciamento_mec` longtext NOT NULL,
  `polos_ead` longtext NOT NULL,
  `apresentacao_texto` longtext NOT NULL,
  `tipo_ppc` varchar(20) NOT NULL,
  `exposicao_motivos` longtext NOT NULL,
  `objetivo_geral` longtext NOT NULL,
  `objetivo_especifico` longtext NOT NULL,
  `principios_geral` longtext NOT NULL,
  `principios_pratica_profissional` longtext NOT NULL,
  `principios_formacao_tecnica` longtext NOT NULL,
  `principios_formacao_etica_social` longtext NOT NULL,
  `principios_interdisciplinaridade` longtext NOT NULL,
  `principios_articulacao_teoria_pratica` longtext NOT NULL,
  `perfil_curso` longtext NOT NULL,
  `perfil_habilidades` longtext NOT NULL,
  `tcc` longtext NOT NULL,
  `estagio` longtext NOT NULL,
  `atividades_complementares` longtext NOT NULL,
  `politicas_integrada` longtext NOT NULL,
  `avaliacao_ensino_aprendizagem` longtext NOT NULL,
  `avaliacao_projeto_curso` longtext NOT NULL,
  `qualificacao` longtext NOT NULL,
  `diretrizes_curriculares_nacionais_curso` longtext NOT NULL,
  `diretrizes_curriculares_nacionais_educacao_basica` longtext NOT NULL,
  `diretrizes_etnico_raciais_historia_cultura_afro_indigena` longtext NOT NULL,
  `diretrizes_educacao_direitos_humanos` longtext NOT NULL,
  `protecao_direitos_pessoa_transtorno_espectro_autista` longtext NOT NULL,
  `componente_curricular_libras` longtext NOT NULL,
  `politicas_educacao_ambiental` longtext NOT NULL,
  `diretrizes_formacao_professores_educacao_basica` longtext NOT NULL,
  `condicoes_acesso_pessoas_deficiencia_mobilidade_reduzida` longtext NOT NULL,
  `bibliografias_ppc` longtext NOT NULL,
  `estrutura_curricular_descricao` longtext NOT NULL,
  `estrutura_curricular_informacoes_complementares` longtext NOT NULL,
  `curso_id` bigint NOT NULL,
  `atualizado_em` datetime(6) NOT NULL,
  `criado_em` datetime(6) NOT NULL,
  `status` varchar(20) NOT NULL,
  `numero_resolucao` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ppc_ppc_curso_id_252109a8_fk_ppc_curso_id` (`curso_id`),
  CONSTRAINT `ppc_ppc_curso_id_252109a8_fk_ppc_curso_id` FOREIGN KEY (`curso_id`) REFERENCES `ppc_curso` (`id`),
  CONSTRAINT `ppc_ppc_chk_1` CHECK ((`carga_horaria_total` >= 0)),
  CONSTRAINT `ppc_ppc_chk_2` CHECK ((`numero_vagas_anuais` >= 0)),
  CONSTRAINT `ppc_ppc_chk_3` CHECK ((`duracao_minima_semestres` >= 0)),
  CONSTRAINT `ppc_ppc_chk_4` CHECK ((`duracao_media_semestres` >= 0)),
  CONSTRAINT `ppc_ppc_chk_5` CHECK ((`duracao_maxima_semestres` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_ppc`
--

LOCK TABLES `ppc_ppc` WRITE;
/*!40000 ALTER TABLE `ppc_ppc` DISABLE KEYS */;
/*!40000 ALTER TABLE `ppc_ppc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ppc_relacaocomponente`
--

DROP TABLE IF EXISTS `ppc_relacaocomponente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ppc_relacaocomponente` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo` varchar(20) NOT NULL,
  `componente_id` bigint NOT NULL,
  `componente_relacionado_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ppc_relacaocomponente_componente_id_componente_a45db0d5_uniq` (`componente_id`,`componente_relacionado_id`,`tipo`),
  KEY `ppc_relacaocomponent_componente_relaciona_d7d46a0b_fk_ppc_compo` (`componente_relacionado_id`),
  CONSTRAINT `ppc_relacaocomponent_componente_id_a9e975bb_fk_ppc_compo` FOREIGN KEY (`componente_id`) REFERENCES `ppc_componentecurricular` (`id`),
  CONSTRAINT `ppc_relacaocomponent_componente_relaciona_d7d46a0b_fk_ppc_compo` FOREIGN KEY (`componente_relacionado_id`) REFERENCES `ppc_componentecurricular` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ppc_relacaocomponente`
--

LOCK TABLES `ppc_relacaocomponente` WRITE;
/*!40000 ALTER TABLE `ppc_relacaocomponente` DISABLE KEYS */;
INSERT INTO `ppc_relacaocomponente` VALUES (1,'pre_requisito',1,2);
/*!40000 ALTER TABLE `ppc_relacaocomponente` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-25  0:22:20
