{% extends "base.html" %}
{% block content %}
<div class="ppc-layout">
    <nav class="menu-lateral-ppc">
    <p><strong>{{ ppc.curso.nome }}</strong></p>
    <a href="{% url 'editar_informacoes_gerais' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_informacoes_gerais' %}ativo{% endif %}">Informações Gerais</a>
    <a href="{% url 'editar_apresentacao' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_apresentacao' %}ativo{% endif %}">Apresentação</a>
    <a href="{% url 'editar_exposicao_motivos' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_exposicao_motivos' %}ativo{% endif %}">Exposição de Motivos</a>
    <a href="{% url 'editar_objetivos' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_objetivos' %}ativo{% endif %}">Objetivos</a>
    <a href="{% url 'editar_principios' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_principios' %}ativo{% endif %}">Princípios Norteadores</a>
   <a href="{% url 'editar_expectativas' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_expectativas' %}ativo{% endif %}">Expectativas da Formação Profissional</a>
   <a href="{% url 'editar_tcc' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_tcc' %}ativo{% endif %}">Trabalho de Conclusão de Curso</a>
   <a href="{% url 'editar_estagio' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_estagio' %}ativo{% endif %}">Política e Gestão do Estágio Obrigátorio e Não Obrigátorio</a>
   <a href="{% url 'editar_atividades_complementares' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_atividades_complementares' %}ativo{% endif %}">Atividades Complementares do Curso</a>
   <a href="{% url 'editar_politicas_integrada' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_politicas_integrada' %}ativo{% endif %}">Integração de Ensino, Pesquisa e Extensão</a>
   <a href="{% url 'editar_avaliacao_ensino' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_avaliacao_ensino' %}ativo{% endif %}">Avaliação de Processo de Ensino e Aprendizagem</a>
   <a href="{% url 'editar_avaliacao_projeto_curso' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_avaliacao_projeto_curso' %}ativo{% endif %}">Avaliação do Projeto de Curso</a>
   <a href="{% url 'editar_qualificacao' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_qualificacao' %}ativo{% endif %}">Qualificação de docentes e técnico-administrativos</a>
   <a href="{% url 'editar_dinamicas_ead' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_dinamicas_ead' %}ativo{% endif %}">Dinâmica EAD</a>
   <a href="{% url 'editar_requisitos_legais' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_requisitos_legais' %}ativo{% endif %}">Requisitos legais e Normativos Obrigátorios</a>
   <a href="{% url 'lista_componentes' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'lista_componentes' %}ativo{% endif %}">Estrutura Curricular</a>
   <a href="{% url 'editar_referencias' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_referencias' %}ativo{% endif %}">Referências</a>
   <a href="{% url 'editar_apendices' ppc.id %}"
       class="{% if request.resolver_match.url_name == 'editar_apendice' %}ativo{% endif %}">Apêndices</a>
</nav>
    <div id="ppc-conteudo">
        {% block ppc_content %}{% endblock %}
    </div>
</div>
{% endblock %}